# JWT secret (后续会用于登录鉴权)
JWT_SECRET=change_me

# 后端数据库连接（本地 docker-compose 内部使用）
SPRING_DATASOURCE_URL=jdbc:mysql://sh-cynosdbmysql-grp-kmxoc9is.sql.tencentcdb.com:20982/study?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=CtD9mb4u

